@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap');
* {
  font-family: 'Outfit', sans-serif;
}

h2 {
  @apply text-blue-200 font-light text-3xl;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
select,
textarea,
button {
  font-family: 'Roboto', sans-serif;
}

.text-shadow {
  text-shadow: 2px 4px 4px rgba(2, 4, 4, 0.25);
}

